{% extends "base.html" %}

{% block title %}
Password Reset
{% endblock %}

{% block content %}

<div class="content-section">

    <form id="passwordResetForm">

        <fieldset class="form-group">

            <legend class="border-bottom mb-4">
                Reset Password
            </legend>

            <div id="div_id_email" class="form-group">

                <label for="id_email" class="requiredField">
                    Email<span class="asteriskField">*</span>
                </label>

                <div>
                    <input
                        type="email"
                        name="email"
                        autocomplete="email"
                        maxlength="254"
                        class="emailinput form-control"
                        required
                        id="id_email">
                </div>

            </div>

        </fieldset>

        <div id="resetError"
             class="text-danger mb-3 d-none">
        </div>

        <div class="form-group mt-3">

            <button
                class="btn btn-outline-info"
                type="submit">

                Request Password Reset

            </button>

        </div>

    </form>

</div>

{% endblock %}
{% block script %}

<script type="module">

const passwordResetForm =
    document.getElementById("passwordResetForm");

const emailInput =
    document.getElementById("id_email");

const resetError =
    document.getElementById("resetError");


passwordResetForm.addEventListener("submit", async (event) => {

    event.preventDefault();

    resetError.classList.add("d-none");


    const userData = {
        email: emailInput.value
    };


    try {

        const response = await fetch(
            "/api/users/forgot-password",
            {
                method: "POST",

                headers: {
                    "Content-Type": "application/json"
                },

                body: JSON.stringify(userData)
            }
        );


        if (response.ok) {

            window.location.href = "/password-reset-done";

        } else {

            const error = await response.json();

            resetError.textContent =
                error.detail || "Unable to request password reset.";

            resetError.classList.remove("d-none");

        }

    } catch (error) {

        resetError.textContent =
            "Network error. Please try again.";

        resetError.classList.remove("d-none");

    }

});

</script>

{% endblock %}