{% extends "base.html" %}
{% block title %}
Login
{% endblock %}

{% block content %}

<div class="content-section">

    <form id="loginForm" method="POST">

    <fieldset class="form-group">

        <legend class="border-bottom mb-4">

            Log In

        </legend>

        <div id="div_id_username" class="form-group">

            <label for="id_username" class="requiredField">

                Email<span class="asteriskField">*</span>

            </label>

            <div>

                <input
                    type="email"
                    name="username"
                    autofocus
                    autocomplete="username"
                    maxlength="320"
                    class="textinput form-control"
                    required
                    id="id_username">

            </div>

        </div>

        <div id="div_id_password" class="form-group">

            <label for="id_password" class="requiredField">

                Password<span class="asteriskField">*</span>

            </label>

            <div>

                <input
                    type="password"
                    name="password"
                    autocomplete="current-password"
                    class="passwordinput form-control"
                    required
                    id="id_password">

            </div>

        </div>

    </fieldset>

    <div class="form-group mt-3">

        <button
            class="btn btn-outline-info"
            type="submit">

            Login

        </button>

        <small class="text-muted ml-2">

            <a href="{{ url_for('PasswordReset') }}">

                Forgot Password?

            </a>

        </small>

    </div>

</form>

    <div class="border-top pt-3 mt-4">

        <small class="text-muted">

            Need An Account?

            <a href="{{ url_for('Register') }}">
                Sign Up Now
            </a>

        </small>

    </div>

</div>

{% endblock %}
{% block script %}
<script type="module">

const loginForm = document.getElementById("loginForm");

const loginError = document.createElement("div");
loginError.className = "text-danger mb-3 d-none";

loginForm.insertBefore(loginError, loginForm.querySelector(".form-group.mt-3"));


loginForm.addEventListener("submit", async (event) => {

    event.preventDefault();

    loginError.classList.add("d-none");


    const formData = new FormData(loginForm);


    try {

        const response = await fetch("/api/users/token", {

            method: "POST",

            body: new URLSearchParams(formData),

        });


        if (response.ok) {

            const token = await response.json();

            localStorage.setItem("access_token", token.access_token);

            window.location.href = "/";

        } else {

            const error = await response.json();

            loginError.textContent = error.detail;
            loginError.classList.remove("d-none");

        }

    } catch (error) {

        loginError.textContent =
            "Network error. Please try again.";

        loginError.classList.remove("d-none");

    }

});

</script>
{% endblock %}